/**
 * Content Style Sheet
 * Site Name Ono-MBA new
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Iliya Melishev
 */

/*
 * Header
*/
section#header {
	margin-top: 114px;
	padding: 3rem calc(~'(100% - 1200px)' / 2);
	padding-top: 100px;
	background-image: url(../images/header.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 500px;

	position: relative;
}

section#header article {
	width: 50%;
	margin: 0 auto;
	padding: 2em;
	background-color: fade(white, 90%);
	color: @color_green;
	text-align: center;
}

section#header article h1 {
	font-size: 2.5rem;
	margin: 0;
	padding-bottom: 1em;
}

section#header article p {
	font-size: 1.8em;
	margin: 0;
	line-height: 1;
	font-weight: 700;
}

section#header article ul li {
	padding: 0.3em;
	list-style: none;
	text-align: initial;

	&:before {
		display: inline-block;
		vertical-align: middle;
		content: '';
		width: 0;
		height: 0;
		line-height: 0;

		border: 0.5em solid transparent;
		border-right-color: @color_green;
	}
}

section#header article ul li a {
	color: @color_grey;
	transition: all 0.3s;

	&:hover {
		color: @color_green;
	}
}

@keyframes floating {
	from { bottom: 3.5em;}
	to {bottom: 2em;}
}

section#header {
	span.arrow {
		position: absolute;
		bottom: 2em;
		left: 50%;
		transform: translateX(-50%);

		width: 5rem;
		height: 5rem;

		border-radius: 100%;
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
		animation-name: floating;
		animation-duration: 2s;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;

		svg {
			display: block;
			width: 5rem;
			height: 5rem;
		}
	}
}


/**
 * Article popups
 */
div.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 2em 1em;

	border: 1px solid @color_grey;
	background-color: white;
	box-sizing: border-box;

	z-index: 100000;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: opacity 0.5s;
}

div.popup article {
	max-height: 100vh;
	overflow-y: auto;
}

div.popup a {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	border: 1px solid black;
	border-right-width: 0;
	border-top-width: 0;
}

div.popup a svg {
	width: 1em;
	height: 1em;
	display: block;
}

div.popup h1 {
	text-align: center;
}

div.popup h2,
div.popup h3 {
	color: @color_green;
}

div#farma:target,
div#technology:target,
div#strategy:target,
div#advertisment:target,
div#funding:target,
div#management:target,
div#sport:target,
div#imba:target,
div#community:target {
	opacity: 1;
	pointer-events: auto;
}


/*
 * Section patch disscount and contact form
*/

section#register {
	padding: 3em calc(~'(100% - 1200px)' / 2);
}

div.contact,
div.form_container,
section#register div.disscount {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
}

section#register div.disscount {
	padding:0 4em;
}

section#register div.disscount > h2 {
	text-align: center;
	font-size: 3rem;
	color: @color_green;
	margin: 0;
	padding-bottom: 1em;
}

section#register div.disscount article {
	background-color: @color_green;
	color: white;
	text-align: center;
	padding: 1em;
	transform: rotate(5deg);
	border: 3px dashed white;
}

section#register div.disscount article h2 {
	margin: 0;
	font-size: 3.5rem;
}

section#register div.disscount article p {
	font-size: 2rem;
	margin: 0;
}

div.form_container {
	background-color: @color_grey_light;
	padding: 1em;
	padding-top: 0;
}

div.form_container h2 {
	margin: 0;
	font-size: 3rem;
	border-bottom: 2px solid @color_grey;
	padding: 0.5em;
	text-align: center;
}

div.form_container form {
	margin-top: 1em;
}

div.form_container form label {
	display: block;
	width: 100%;
	padding-bottom: 1em;
}

div.form_container form label span {
	display: inline-block;
	vertical-align: middle;
	width: 130px;
	font-size: 1.5rem;
}

div.form_container form label span:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	margin-left: 0.5em;

	background-image: url(../images/name.svg);
	background-size: 35px 35px;
	background-position: center;
	background-repeat: no-repeat;
}

div.form_container form label:nth-of-type(2) span:before {
	background-image: url(../images/phone-form.svg);
}

div.form_container form label:nth-of-type(3) span:before {
	background-image: url(../images/email.svg);
}

div.form_container form label:nth-of-type(4) span:before {
	background-image: url(../images/subject.svg);
}


div.form_container form label select,
div.form_container form label input {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 1em 0.5em;
	width: calc(~'(100% - 130px)');
	background-color: white;

	border: 1px solid @color_grey;
	transition: all 0.3s;

	&:hover,
	&:focus {
		border: 1px solid @color_green,
	}
}

div.form_container form div.controls {
	text-align: center;
}

div.form_container form div.controls button {
	color: white;
	border: none;
	background-color: @color_green;
	font-size: 1.5rem;
	padding: 0.5em 1em;
	font-weight: 700;

	transition: all 0.3s;

	&:hover {
		background-color: lighten(@color_green, 10%);
		cursor: pointer;
	}
}

/*
 * Section features
*/
section#features {
	padding: 3em calc(~'(100% - 1200px)' / 2);
	background-image: url(../images/texture.png);
	background-repeat: repeat;
	background-position: center;
	background-size: 200px 200px;
}

section#features article {
	text-align: center;
}

section#features article p {
	margin: 0;
	font-size: 1.8rem;
	color: @color_grey;
}

section#features article h2 {
	color: @color_green;
	font-size: 3rem;
	margin: 0;
	padding: 1em 0;
}

section#features ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

section#features ul li {
	display: inline-block;
	vertical-align: top;
	list-style: none;

	width: 33.3%;
	box-sizing: border-box;
	padding: 0 1em;
}

section#features ul li svg {
	width: 5rem;
	height: 5rem;
}


section#features ul li p {
	font-size: 1.5em;
}

/*
 * Section subjects
*/

section#subjects {
	padding: 3em calc(~'(100% - 1200px)' / 2);
}

section#subjects article {
	width: 50%;
	margin: 0 auto;
	background-color: @color_grey_light;
	text-align: center;
}

section#subjects article h2 {
	color: white;
	background-color: @color_grey;
	padding: 1em;
}

section#subjects article h2:before {
	content: '';
	display: block;
	width: 50px;
	height: 55px;
	margin: 0 auto;
	margin-bottom: 1em;

	background-image: url(../images/location.svg);
	background-repeat: no-repeat;
	background-size: 45px 54px;
	background-position: center;
}

section#subjects article h3 {
	color: @color_grey;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 1em;
	font-size: 1.5rem;
}

section#subjects article p {
	padding: 1em;
	margin: 0;
	color: @color_grey;
	font-size: 1.3rem;
}

section#subjects article ul {
	list-style: none;
	margin: 0;
}

section#subjects article ul li {
	font-size: 1.2rem;
	padding-bottom: 1em;
	text-align: initial;
	color: @color_grey;
	line-height: 100%;
}

section#subjects article ul li:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	background-color: @color_grey;
	border: 1px solid @color_grey;
	border-radius: 100%;
	margin-left: 1em;
	line-height: 100%;
}

section#subjects div.logos {
	text-align: center;
	padding: 1em 0;
}

section#subjects div.logos h4 {
	font-size: 1.8rem;
	color: @color_grey;
}

section#subjects div.logos figure {
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	margin: 0 1em;
}

/*
 * Section graduates
*/
section#tutors,
section#graduates {
	padding: 0em calc(~'(100% - 1200px)' / 2);
	padding-top: 3em;
	background-color: @color_grey_light;
	text-align: center;
}

h2.tutors,
h2.graduates {
	background-color: @color_grey;
	color: white;
	text-align: center;
	padding: 1em 0;
	font-size: 2.5rem;
	margin: 0;
}

section#tutors figure,
section#graduates figure {
	display: inline-block;
	vertical-align: top;
	margin: 1em;
	text-align: center;
	max-width: 250px;
}

section#tutors figure img,
section#graduates figure img {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

section#tutors figure h4,
section#graduates figure h4 {
	color: @color_grey;
	margin: 0;
	font-size: 1.5rem;
	padding: 0.5em;
}

section#graduates figure p {
	margin: 0;
}

/*
 * Section tutors (styles connected in section graduates)
*/

h2.tutors {
	background-color: @color_green;
}

section#tutors {
	background-color: fade(@color_green, 30%);
}

/*
 * Footer
*/

footer {
	padding: 3em calc(~'(100% - 1200px)' / 2);
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: center top;

	min-height: 500px;
}

footer div.contact {
	padding: 0 5em;
	padding-top: 2em;
}

footer div.contact a.logo {
	display: block;
	margin: 0 auto;
	padding-bottom: 1em;
}

footer div.contact a.logo svg {
	width: 300px;
}

footer div.contact h3 {
	color: @color_green;
	font-size: 2rem;
	margin: 0;
	padding-bottom: 1em;
}

footer div.contact a.phone {
	border: 3px solid @color_green;
	display: inline-block;
	vertical-align: middle;

	text-decoration: none;
	color: @color_green;
	padding: 0.5em;
	font-size: 2rem;
	font-weight: 700;
	transition: all 0.3s;

	&:hover {
		border: 3px solid lighten(@color_green, 10%);
		background-color: white;
	}
}

footer div.contact a.phone svg {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}

/*
 * Copyright
*/

div.copyright {
	background-color: @color_grey;
	color: white;
	text-align: center;
	background-position: calc(~'50% - 100px') center;
}

/*
 * thankyou page
*/
section.thankyou {
	padding: 0 calc(~'(100% - 1200px)' / 2);
	padding-top: 114px;
	min-height: 990px;

	background-image: url(../images/header_thankyou.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;

	article {
		text-align: center;
		width: 800px;
		margin: 0 auto;
		color: @color_green;

		h1 {
			font-size: 3em;
			font-weight: 400;
		}

		p {
			font-size: 1.3em;
		}
	}

	div.video {
		text-align: center;
		padding-top: 50px;
	}
}
/*
 * Media Query
*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	header {
		padding: 1em;
	}

	footer,
	section#register {
		padding: 3em 1em;
	}

	div.copyright {
		background-position: calc(~'(50% - 150px)') center;
	}
}

